{% extends '@LturiSymfonyExtensions/base.html.twig' %}

{% block title %}{%  if "statusCode" in exception %}{{ exception.statusCode }}{%  else %}{{ exception.code }}{%  endif %} Exception{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-items-center" style="min-height: 90vh;">
            <div class="col-md-6 align-self-center">
                {% block exception_image %}{% endblock %}
            </div>
            <div class="col-md-6 align-self-center">
                <h1>{%  if "statusCode" in exception %}{{ exception.statusCode }}{%  else %}{{ exception.code }}{%  endif %}</h1>

                {%  block exception_message %}{%  endblock %}
                <a class="btn btn-primary" href="/">HOME</a>
            </div>
        </div>
        {% if app.environment != "prod" %}
        <div class="row">
            {{ dump(exception) }}
        </div>
        {% endif %}
    </div>
{% endblock %}